<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{$title ? $title . ' - '}Video Editor Utils</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="/" class="logo">Video Editor Utils</a>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
    </header>

    <main id="content">
        {block content}{/block}
    </main>

    <footer>
        <p>&copy; Copyright {date('Y')} Video Editor Utils</p>
    </footer>
</body>
</html>
