{define button-primary, string $text, string $url}
    <a href="{$url}" class="btn btn-primary">{$text}</a>
{/define}

{define button-secondary, string $text, string $url}
    <a href="{$url}" class="btn btn-secondary">{$text}</a>
{/define}
